* {
    -webkit-user-select: none;
}

input, textarea {
   -webkit-user-select: text;
}

body {
    background: #131313 !important;
}

ytmusic-nav-bar {
/*    padding-left: 100px;*/
}

.logo.ytmusic-nav-bar {
    display: none;
}

.background-gradient.ytmusic-immersive-carousel-shelf-renderer {
  background-image: linear-gradient( to bottom, rgba(0, 0, 0, .5), #131313 );
}
