* {
  -webkit-user-select: none;
}

input, textarea {
  -webkit-user-select: text;
}

body {
  background: #131313 !important;
}

.navigate_arrow {
  font-weight: 900;
  text-decoration: none;
  margin: 0 var(--ytmusic-pivot-bar-tab-margin);
  font-family: Roboto, Noto Naskh Arabic UI, Arial, sans-serif;
  font-size: 30px;
  /* font-size: 20px; */
  line-height: var(--ytmusic-title-1_-_line-height);
  display: inline-flex;
  align-items: center;
  color: rgba(255, 255, 255, .5);
  cursor: pointer;
}

.navigate_arrow:hover {
  color: rgba(255, 255, 255, 1);
}

.reverted_arrow {
  transform: scaleX(-1);
}

.background-gradient.ytmusic-immersive-carousel-shelf-renderer {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), #131313);
}
